---
- name: sacn targets with loop and NMAP
  hosts: docker_containers
  remote_user: runner
  become: true
  gather_facts: false

  tasks:
    - name: Install NMAP
      ansible.builtin.apt:
        name: nmap
        state: present

    - name: Scan 
      ansible.builtin.command: "nmap {{ item }} -p 80 -oG -"
      loop: "{{ lookup('file', './nmap-targets').splitlines() }}"
      register: scan_results

    - name: Scan results
      ansible.builtin.debug:
        msg: "{{ item.stdout_lines }}"
      loop: "{{ scan_results.results }}"
